form .avatar{
    width: 100px;
    margin-bottom: 10px;
}
.navbar .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}
.navbar .container-avatar img{
    width: 35px;
    height: 100%;
}